--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.5.1
torchvision==0.20.1
xformers==0.0.28.post3

diffusers==0.27.0
transformers==4.36.2
huggingface-hub==0.25.1

fastapi==0.115.0
starlette==0.38.2
uvicorn[standard]
python-multipart==0.0.20
markdown2==2.5.4

accelerate
omegaconf==2.3.0
einops==0.8.1
tqdm
safetensors

av
decord==0.6.0
mediapipe==0.10.32

numpy<3
pillow
opencv-contrib-python
opencv-python-headless
scikit-image
